<% include ./partials/header.ejs %>
<div class="container">
                <h2><%= studies.name %></h2>
                <p class="small">Points: <%= studies.points %></p>
                <p class="small">Grade: <%= studies.grade %></p>
                <div>
                  <p><%= studies.description %></p>
                  <hr class="my-4">
                  <p class="small">linneaus university <%= studies.endDate %></p>
                </div>
            <a class="btn btn-primary" href="/studies/edit/<%= studies._id%>" role="button">Edit</a>
</div>
<% include ./partials/footer.ejs %>