<% include ./partials/header.ejs %>
<div class="container">
                <h2><%= works.company %><h2>
                <div>
                  <p><%= works.description %></p>
                  <hr class="my-4">
                  <p class="small"><%= works.startDate %> - <%= works.endDate %></p>
                </div>
                <a class="btn btn-primary" href="/works/edit/<%= works._id%>" role="button">Edit</a>
</div>
<% include ./partials/footer.ejs %>
